:root{
    --color1: black;
    --color2: gray;
    --color3: gainsboro;
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits the color from the parent element */
}

img {
    border-radius: 3px;
    width: 100%;
}

body {
    /* font-family: "Arial", sans-serif; */
    font-family: "Noto Sans", "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    color: var(--color1);
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit; /* Inherits font from parent */
    color: inherit; /* Inherits text color */
    cursor: pointer;
}

h1 {
    font-weight: normal;
    font-size: 40px;
    margin: 0;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    color: var(--color1);
}

h2 {
    font-weight: bold;
    font-size: 24px;
}

h3 {
    font-weight: normal;
    font-size: 22px;
    color: var(--color2);
    margin: 0;
}

.header
{
    /*background-color: lightblue;*/
    margin: 60px 0;
    margin-bottom: 50px;

}

.cont
{
    margin: 20px;
}

.debug h1 h3
{
    color: green;
}

.center-text
{
    text-align: center;
}

.navbar
{
/*    border-top: 3px solid;*/
    border-bottom: 3px solid var(--color3);
    padding: 0px 50px; /*vertical and horizontal*/
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.navbar button
{
    padding: 0;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.selected
{
    border-bottom: 3px solid var(--color1);
    margin-bottom: -3px !important;
}

.flex
{
    display: flex;
}

.full-width
{
    width: 100%;
}

#main_cont
{
    width: 80%;
    margin: 0 auto; /* "auto" centers the div horizontally */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main_img
{
    width: 50%;
}

#find-me
{
    flex: 1;
}

#find-me h2
{
    text-align: right;
    padding: 2px 10px;
    border-bottom: 3px solid var(--color3);
    margin: 0;
}

#find-me h3
{
    margin-top: 30px;
    margin-bottom: 10px;
}

#find-me p
{
    margin: 5px 0;
}

#gallery {
    line-height:0;
    column-count:5;
    column-gap:5px;
 }

 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
 }